<!DOCTYPE html>
<html>
<head>
    <title>Détail du Catway</title>
</head>
<body>
    <h1>Catway Info</h1>
    <ul>
        <li><strong>Numéro :</strong> <%= catway.catwayNumber %></li>
        <li><strong>Type :</strong> <%= catway.catwayType %></li>
        <li><strong>État :</strong> <%= catway.catwayState %></li>
    </ul>
    <a href="/catways">← Retour à la liste</a>
</body>
</html>
